<%= simple_form_for(@investment) do |f| %>
  <%= f.input :date, as: :string, label: "Data", input_html: { type: "date" } %>
  <%= f.input :value, label: "Valor (R$)", input_html: { step: "0.01", min: "0" } %>
  <%= f.input :investment_type, label: "Categoria", input_html: { list: "investment-types-datalist", placeholder: "Digite ou escolha uma categoria existente" } %>
  <datalist id="investment-types-datalist">
    <% (@existing_investment_types || []).each do |type| %>
      <option value="<%= type %>">
    <% end %>
  </datalist>
  <%= f.input :description, label: "Descrição", input_html: { rows: 2 } %>
  <div class="d-flex flex-wrap gap-2 mt-3">
    <%= f.button :submit, @investment.persisted? ? "Atualizar investimento" : "Cadastrar investimento", class: "btn-primary" %>
    <%= link_to "Cancelar", investments_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
