<h1>Incomes</h1>

<%= link_to "New Income", new_income_path %>

<ul>
  <% @incomes.each do |income| %>
    <li>
      <strong><%= income.description %></strong>
      - $<%= income.value %>
      - <%= income.income_type %>
      - <%= income.date %>

      <%= link_to "Show", income_path(income) %>
      <%= link_to "Edit", edit_income_path(income) %>
      <%= link_to "Delete", income_path(income),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
