<%= simple_form_for(@expense) do |f| %>
  <%= f.input :date, as: :string, label: "Data", input_html: { type: "date" } %>
  <%= f.input :value, label: "Valor (R$)", input_html: { step: "0.01", min: "0" } %>
  <%= f.input :expense_type, label: "Categoria", input_html: { list: "expense-types-datalist", placeholder: "Digite ou escolha uma categoria existente" } %>
  <datalist id="expense-types-datalist">
    <% (@existing_expense_types || []).each do |type| %>
      <option value="<%= type %>">
    <% end %>
  </datalist>
  <%= f.input :description, label: "Descrição", input_html: { rows: 2 } %>
  <div class="d-flex flex-wrap gap-2 mt-3">
    <%= f.button :submit, @expense.persisted? ? "Atualizar gasto" : "Cadastrar gasto", class: "btn-primary" %>
    <%= link_to "Cancelar", expenses_path, class: "btn btn-outline-secondary", data: { turbo_frame: "_top", turbo: false } %>
  </div>
<% end %>
