<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Mtracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme" data-theme-lock="light">
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>

    <header>
      <%= render "shared/navbar" %> <!-- 👈 Add this for navbar -->
    </header>

    <main id="main-content">
        <%= yield %>
    </main>
    
    <% if user_signed_in? && !current_page?(root_path) %>
      <%= render "shared/chat_widget" %>
    <% end %>
  </body>

</html>
