<!DOCTYPE html>
<html>
  <head>
    <title>Settings - Money Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="settings-layout" data-controller="theme">
    <div class="container-fluid g-0 min-vh-100">
      <div class="row g-0 min-vh-100">
        <aside class="settings-sidebar-wrapper col-md-3 col-lg-2">
          <%= render "settings/sidebar" %>
        </aside>
        <main class="settings-main col-md-9 col-lg-10">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
